.movie-box{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;

}

.movie-box-txt{
    height: fit-content;
    width: 95%;
    padding: 1px 30px;
    color: white;
    /* border: 1px solid rosybrown; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}